// Siv3D Engine Rsource
64000	FILE	"Engine/LogMessages.txt"
64080	FILE	"Engine/Assets/engine_textures.s3a"
64600	FILE	"Engine/Fonts/umeplus-p-gothic.zip"
64604	FILE	"Engine/Fonts/mplus-1p-medium.zip"
64700	FILE	"Engine/Shaders/D3D11/Sprite.vs"
64701	FILE	"Engine/Shaders/D3D11/FullScreenTriangle.vs"
64702	FILE	"Engine/Shaders/D3D11/DeferredMesh.vs"
64703	FILE	"Engine/Shaders/D3D11/LightAccumulation.vs"
64704	FILE	"Engine/Shaders/D3D11/ForwardMesh.vs"
64705	FILE	"Engine/Shaders/D3D11/ForwardParticle.vs"
64706	FILE	"Engine/Shaders/D3D11/ForwardLine3D.vs"
64800	FILE	"Engine/Shaders/D3D11/Shape.ps"
64801	FILE	"Engine/Shaders/D3D11/Shape_Stencil.ps"
64802	FILE	"Engine/Shaders/D3D11/Sprite.ps"
64803	FILE	"Engine/Shaders/D3D11/Sprite_Stencil.ps"
64804	FILE	"Engine/Shaders/D3D11/Sprite_Font.ps"
64805	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA.ps"
64806	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA.ps"
64807	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA.ps"
64808	FILE	"Engine/Shaders/D3D11/FullScreenTriangle1xMSAA_Linear.ps"
64809	FILE	"Engine/Shaders/D3D11/FullScreenTriangle2xMSAA_Linear.ps"
64810	FILE	"Engine/Shaders/D3D11/FullScreenTriangle4xMSAA_Linear.ps"
64811	FILE	"Engine/Shaders/D3D11/DeferredMesh.ps"
64812	FILE	"Engine/Shaders/D3D11/DeferredMesh_Textured.ps"
64813	FILE	"Engine/Shaders/D3D11/LightAccumulation_NoFog.ps"
64814	FILE	"Engine/Shaders/D3D11/LightAccumulation_LinearFog.ps"
64815	FILE	"Engine/Shaders/D3D11/LightAccumulation_ExponentialFog.ps"
64816	FILE	"Engine/Shaders/D3D11/LightAccumulation_SquaredExponentialFog.ps"
64817	FILE	"Engine/Shaders/D3D11/LightAccumulation_HeightFog.ps"
64818	FILE	"Engine/Shaders/D3D11/DeferredFinalize.ps"
64819	FILE	"Engine/Shaders/D3D11/ForwardMesh.ps"
64820	FILE	"Engine/Shaders/D3D11/ForwardMesh_Textured.ps"
64821	FILE	"Engine/Shaders/D3D11/ForwardLine3D.ps"
64822	FILE	"Engine/Shaders/D3D11/FXAA_None.ps"
64823	FILE	"Engine/Shaders/D3D11/FXAA_Q20.ps"
64824	FILE	"Engine/Shaders/D3D11/FXAA_Q25.ps"
64825	FILE	"Engine/Shaders/D3D11/FXAA_Q39.ps"

// Optional
//64040	FILE	"Engine/Objdetect/facePhoto.zip"
//64041	FILE	"Engine/Objdetect/faceAnime.zip"
64601	FILE	"Engine/Fonts/mplus-1p-thin.zip"
64602	FILE	"Engine/Fonts/mplus-1p-light.zip"
64603	FILE	"Engine/Fonts/mplus-1p-regular.zip"
64605	FILE	"Engine/Fonts/mplus-1p-bold.zip"
64606	FILE	"Engine/Fonts/mplus-1p-heavy.zip"
64607	FILE	"Engine/Fonts/mplus-1p-black.zip"

// App Resource
100		ICON	"Icon.ico"
//101		FILE	"Engine/Splash.png"
200     FILE    "textures/background.png"
201     FILE    "textures/check.png"
202     FILE    "textures/Ground.jpg"
203     FILE    "textures/wall.jpg"
204     FILE    "textures/particle.png"

210     FILE    "textures/explosion/0.png"
211     FILE    "textures/explosion/1.png"
212     FILE    "textures/explosion/2.png"
213     FILE    "textures/explosion/3.png"
214     FILE    "textures/explosion/4.png"
215     FILE    "textures/explosion/5.png"
216     FILE    "textures/explosion/6.png"
217     FILE    "textures/explosion/7.png"
218     FILE    "textures/explosion/8.png"

220     FILE    "textures/character-standings/adne.png"
221     FILE    "textures/character-standings/aglaia.png"
222     FILE    "textures/character-standings/anastasia.png"
223     FILE    "textures/character-standings/anemone.png"
224     FILE    "textures/character-standings/aqua.png"
225     FILE    "textures/character-standings/astrea.png"

230     FILE    "textures/character-faces/adne.png"
231     FILE    "textures/character-faces/aglaia.png"
232     FILE    "textures/character-faces/anastasia.png"
233     FILE    "textures/character-faces/anemone.png"
234     FILE    "textures/character-faces/aqua.png"
235     FILE    "textures/character-faces/astrea.png"

400     FILE    "levels.json"
401     FILE    "texts.json"
402     FILE    "character-assets.json"
403     FILE    "init.script"
404     FILE    "spotlight.vs"
405     FILE    "spotlight.ps"

500     FILE    "levels/tutorial.csv"
501     FILE    "levels/tutorial.script"
510     FILE    "levels/easy.csv"
511     FILE    "levels/easy.script"
520     FILE    "levels/normal.csv"
521     FILE    "levels/normal.script"
530     FILE    "levels/hard.csv"
531     FILE    "levels/hard.script"
540     FILE    "levels/lunatic.csv"
541     FILE    "levels/lunatic.script"
